main {
    margin-top: 25px;
}

.container-all-posts {
    width: 1110px;
    margin: 10px auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;

    padding: 20px 0px;
    align-content: space-around;
}


/* <<< pagination style >>> */
.pagination-ul {
    width: 60%;
    margin: 20px auto;
    padding: 10px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-content: center;
}

.page-ul-li, .next, .previous {
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    background-color: #1e3147;
    color: #fff;
}

.next, .previous {
    font-weight: bolder;
    color: #1e3147;
    background-color: #EDF0F3;
    border: 2px solid #EDF0F3;
}

.page-ul-li:hover, .next:hover, .previous:hover {
    background-color: #fff;
    color: #1e3147;
    outline-offset: -4px;
    outline: 2px solid #1e3147;
}


.selected {
    color: #fff;
    background-color: #cb3b43;
}

.next:active, .previous:active, .page-ul-li:active {
    background-color: #EDF0F3;

}

.page-ul-li, .break, .next, .previous {
    list-style-type: none;
}

input[type="text"] {
    max-width: 60px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    border-width: 1px;
}

input:focus {
    outline: 1px solid #cb3b43;
    outline-offset: -1px;
}

main input {
    border-radius: 8px;
}


main span {
    padding: 0px 10px;
}
