.header {
    margin-top: 0px;
}

.div-header {
    min-height: 20vh;
    padding-bottom: 10px;
    margin: 0px;
  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    background-color: #1e3147;
    color: #fff;
}


h1 {
    font-size: 30px;
    width: 40%;
    margin: 0px 40px;
}


.button-header {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    min-width: 180px;
    border-radius: 30px;
    color: #fff;
    background-color: #cb3b43;
    cursor: pointer;
    border: none;
}

.button-header:hover {
    color:#cb3b43;
    background-color: #fff;
}


/* for delete
background-color: #617385;

for posts
background-color: #b26492; magenta
background-color: #6381b8; blue
background-color: #95c5a6; green
background-color: #E8B75C; yellow-orange
background-color: #7485C8; violet
background-color: #e5774c; orange

*/