.post {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    filter: drop-shadow(10px 10px 10px rgba(29, 32, 38, 0.1031));
    border-radius: 15px;
    background-color: #fff;
    outline-offset: 0px;
    
}

.post-top {
    background-color: #cb3b43;
    color: #fff;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    margin: 0px;
}

.post-wrapper {
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.post-body {
    width: 85%;
    align-self: center;
}

.post-body p {
    text-align: left;
}

.post-buttons {
    padding: 15px 20px;
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    gap: 20px;
}

.crudButtons {
    min-width: 60px;
    padding: 4px 0px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.crudButtons {
    background-color: #EDF0F3;

}

.del-btn {
    background-color: #1e3147;
    color: #fff;
}


.del-btn:hover {
    background-color: #fff;
    color: #1e3147;
    outline-offset: -4px;
    outline: 2px solid #1e3147;
}



.edit-btn {
    background-color: #cb3b43;
    color: #fff;
}


.edit-btn:hover {
    background-color: #fff;
    color: #cb3b43;
    outline-offset: -4px;
    outline: 2px solid #cb3b43;
}
