.post {
    width: 25%;
    /* padding: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    filter: drop-shadow(10px 10px 10px rgba(29, 32, 38, 0.1031));
    /* border: 3px solid rgb(252, 211, 162); */
    border-radius: 15px;
    background-color: #fff;
    outline-offset: 0px;
    /* outline: 2px solid rgb(252, 211, 162); */
    /* outline: 2px solid #7485C8; */
    /* outline: 2px solid #e5774c; */
}

.post-top {
    /* height: 15%; */
    /* background-color: rgb(252, 211, 162); */
    /* background-color: #7485C8; */
    /* background-color: #95c5a6; */
    /* background-color: hsla(246, 74%, 57%, 0.616); */
    /* background-color: #e5774c; */
    background-color: #cb3b43;
    color: #fff;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    margin: 0px;
    /* border: 1px solid blue; */
}

.post-wrapper {
    /* height: 85%; */
    /* margin-top: 20px; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    display: flex;
    flex-direction: column;
    /* justify-items: stretch; */
    justify-content: space-between;
    /* border: 1px solid black; */
    /* background-color: #fff; */


}

.post-body {
    /* flex:content; */
    width: 85%;
    /* border: 1px solid red;
    padding: 10px; */
    align-self: center;
}

.post-body p {
    text-align: left;
}

.post-buttons {
    padding: 15px 20px;
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    gap: 20px;
    /* justify-content: space-around; */
}

.crudButtons {
    min-width: 60px;
    padding: 4px 0px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.crudButtons {
    background-color: #EDF0F3;

}

.del-btn {
    background-color: #1e3147;
    color: #fff;
}


.del-btn:hover {
    background-color: #fff;
    color: #1e3147;
    outline-offset: -4px;
    outline: 2px solid #1e3147;
}



.edit-btn {
    background-color: #cb3b43;
    color: #fff;
}


.edit-btn:hover {
    background-color: #fff;
    color: #cb3b43;
    outline-offset: -4px;
    outline: 2px solid #cb3b43;
}


/* Tablet */
@media only screen and (max-width: 768px) {
    /* .App {
        width: 768px;
    }

    .wrapper {
        width: 696px;
    } */

    .post {
        width: 30%;
    
    }


}


/* Mobile device */
@media only screen and (max-width: 375px) {
    /* .App {
        width: 375px;
    }

    .wrapper {
        width: 327px;
    } */

    .post {
        width: 80%;
        /* border: 1px solid red; */
        /* padding: 15px; */
        /* display: flex;
        flex-direction: column;
        justify-content: space-between; */
    }


}