.post {
    width: 30%;
    border: 1px solid red;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.post-buttons {
    display: flex;
    justify-content: flex-end;
    /* gap: 20px; */
    /* justify-content: space-around; */
}