.App {
	text-align: center;
	background-color: #EDF0F3;
}


.wrapper {
	border: 1px solid black;
	margin: 0px auto;

}



/* Tablet */
@media only screen and (max-width: 768px) {

	.post {
		width: 30%;
	}

	.container-all-posts {
		width: 696px;
	}

	.div-header {
		padding-bottom: 0px;
	}

	h1 {
		font-size: 28px;
		margin: 0px 20px;

	}

}


/* Mobile device */
@media only screen and (max-width: 375px) {


	h1 {
		width: 25%;
		margin: 0px 20px;
	}

	.button-header {
		padding: 5px;
		font-size: 12px;
		min-width: 100px;
		color: #fff;
	}


	.post {
		width: 80%;

	}

	.container-all-posts {
		width: 327px;
	}

	h1 {
		font-size: 16px;
	}


	/* /// pagination MAIN.jsx /// */
	.pagination-ul {
		width: 80%;
		margin: 20px auto;
		padding: 10px;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

}


/*  
	desktop --> width: 
		1440px ??? for .App
		1110px for .wrapper

	tablet --> width: 
		768px for .App
		696px for wrapper

	mobile --> width:
		375px for .App
		327px for .wrapper
		
*/